body {
    background-color: antiquewhite;
}

div {
    border: 1px solid rgba(0, 0, 0, 0.493);
    padding: 5px;
    margin: 8px;
}

#user, .name {
    background-color: #F2B04E;
}

#email, .email {
    background-color: #A0A0A0;
}

#review, .review {
    background-color: #D8D8D8;
}

#userNumber, .number {
    border: 1px solid rgba(0, 0, 0, 0.003);
    background-color: #F4CF98;

}



